<div class="container">
  <div class="row">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cargo</th>
          <th>Salario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of empleados; index as i">
          <td>{{i}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.cargo}}</td>
          <td>{{item.salario}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>